@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;1,300&display=swap');
*,
*::before,
*::after {
margin : 0;
padding: 0%;
box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Jost",sans-serif;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
    display: grid;
    place-items: center;
}
.music_container{
    width: 45rem;
    height: 65rem;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(241, 29, 29, 0.2);
    padding: 3rem;
    text-align: center;
}
.music_container #title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #6081df;
    margin: 2 rem 0 0.2rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3 0.5 rgba(0, 0, 0, 0.3);
}

.music_container #artist{
    color: #cccaca;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight:300;
}
.image_container{
    width: 25rem;
    height: 25rem;
    margin:auto;
}
 img{
height: 100%;
width:50%;
border-radius: 50%;
object-fit: cover;
box-shadow: 0 1.2rem 3rem 0.5rem rgba(26, 23, 78, 0.863);
}
.music_controls .fas{
    color:rgb(16, 26, 20);
    font-size: 3rem;
    padding: 5px;
    cursor: pointer;
    filter:drop-shadow(1.2rem 3rem 5rem rgba(15, 3, 3, 0));
}
